.purple {
    -webkit-animation: purple linear 30s alternate infinite;
            animation: purple linear 30s alternate infinite;
    border: 2px solid #241379;
    border-radius: 100%;
    width: 47px;
    height: 47px;
    transform: translate3d(72vw, 91vh, 0);
    z-index: 9;
  }
  
  .purple::before {
    -webkit-animation: purple-pseudo linear 15s alternate infinite;
            animation: purple-pseudo linear 15s alternate infinite;
    background: #241379;
    border: 2px solid #241379;
    width: 22px;
    height: 20px;
    transform: translate3d(20vw, -53vh, 0) rotate(347deg);
  }
  
  .purple::after {
    -webkit-animation: purple-pseudo linear 20s alternate infinite;
            animation: purple-pseudo linear 20s alternate infinite;
    border: 2px solid #241379;
    width: 25px;
    height: 10px;
    transform: translate3d(-19vw, -59vh, 0) rotate(144deg);
  }
  
  @-webkit-keyframes purple {
    50% {
      transform: translate3d(47vw, 44vh, 0);
    }
    100% {
      transform: translate3d(24vw, 4vh, 0);
    }
  }
  
  @keyframes purple {
    50% {
      transform: translate3d(47vw, 44vh, 0);
    }
    100% {
      transform: translate3d(24vw, 4vh, 0);
    }
  }
  @-webkit-keyframes purple-pseudo {
    33% {
      transform: translate3d(32vw, -32vh, 0) rotate(150deg);
    }
    100% {
      transform: translate3d(-4vw, 9vh, 0) rotate(212deg);
    }
  }
  @keyframes purple-pseudo {
    33% {
      transform: translate3d(32vw, -32vh, 0) rotate(150deg);
    }
    100% {
      transform: translate3d(-4vw, 9vh, 0) rotate(212deg);
    }
  }
  .medium-blue {
    -webkit-animation: medium-blue linear 30s alternate infinite;
            animation: medium-blue linear 30s alternate infinite;
    border: 2px solid #2185bf;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    transform: translate3d(72vw, 37vh, 0);
    z-index: 9;
  }
  
  .medium-blue::before {
    -webkit-animation: medium-blue-pseudo linear 15s alternate infinite;
            animation: medium-blue-pseudo linear 15s alternate infinite;
    background: #2185bf;
    border: 2px solid #2185bf;
    width: 12px;
    height: 9px;
    transform: translate3d(-44vw, -21vh, 0) rotate(324deg);
  }
  
  .medium-blue::after {
    -webkit-animation: medium-blue-pseudo linear 20s alternate infinite;
            animation: medium-blue-pseudo linear 20s alternate infinite;
    border: 2px solid #2185bf;
    width: 10px;
    height: 8px;
    transform: translate3d(20vw, 14vh, 0) rotate(84deg);
  }
  
  @-webkit-keyframes medium-blue {
    50% {
      transform: translate3d(84vw, 69vh, 0);
    }
    100% {
      transform: translate3d(21vw, 71vh, 0);
    }
  }
  
  @keyframes medium-blue {
    50% {
      transform: translate3d(84vw, 69vh, 0);
    }
    100% {
      transform: translate3d(21vw, 71vh, 0);
    }
  }
  @-webkit-keyframes medium-blue-pseudo {
    33% {
      transform: translate3d(-2vw, 4vh, 0) rotate(140deg);
    }
    100% {
      transform: translate3d(56vw, -63vh, 0) rotate(281deg);
    }
  }
  @keyframes medium-blue-pseudo {
    33% {
      transform: translate3d(-2vw, 4vh, 0) rotate(140deg);
    }
    100% {
      transform: translate3d(56vw, -63vh, 0) rotate(281deg);
    }
  }
  .light-blue {
    -webkit-animation: light-blue linear 30s alternate infinite;
            animation: light-blue linear 30s alternate infinite;
    border: 2px solid #1fbce1;
    border-radius: 100%;
    width: 34px;
    height: 34px;
    transform: translate3d(57vw, 38vh, 0);
    z-index: 4;
  }
  
  .light-blue::before {
    -webkit-animation: light-blue-pseudo linear 15s alternate infinite;
            animation: light-blue-pseudo linear 15s alternate infinite;
    background: #1fbce1;
    border: 2px solid #1fbce1;
    width: 14px;
    height: 23px;
    transform: translate3d(-44vw, -16vh, 0) rotate(250deg);
  }
  
  .light-blue::after {
    -webkit-animation: light-blue-pseudo linear 20s alternate infinite;
            animation: light-blue-pseudo linear 20s alternate infinite;
    border: 2px solid #1fbce1;
    width: 5px;
    height: 19px;
    transform: translate3d(-9vw, 54vh, 0) rotate(103deg);
  }
  
  @-webkit-keyframes light-blue {
    50% {
      transform: translate3d(29vw, 6vh, 0);
    }
    100% {
      transform: translate3d(49vw, 18vh, 0);
    }
  }
  
  @keyframes light-blue {
    50% {
      transform: translate3d(29vw, 6vh, 0);
    }
    100% {
      transform: translate3d(49vw, 18vh, 0);
    }
  }
  @-webkit-keyframes light-blue-pseudo {
    33% {
      transform: translate3d(70vw, 24vh, 0) rotate(193deg);
    }
    100% {
      transform: translate3d(-49vw, 75vh, 0) rotate(35deg);
    }
  }
  @keyframes light-blue-pseudo {
    33% {
      transform: translate3d(70vw, 24vh, 0) rotate(193deg);
    }
    100% {
      transform: translate3d(-49vw, 75vh, 0) rotate(35deg);
    }
  }
  .red {
    -webkit-animation: red linear 30s alternate infinite;
            animation: red linear 30s alternate infinite;
    border: 2px solid #b62f56;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    transform: translate3d(76vw, 8vh, 0);
    z-index: 7;
  }
  
  .red::before {
    -webkit-animation: red-pseudo linear 15s alternate infinite;
            animation: red-pseudo linear 15s alternate infinite;
    background: #b62f56;
    border: 2px solid #b62f56;
    width: 11px;
    height: 5px;
    transform: translate3d(-31vw, -2vh, 0) rotate(232deg);
  }
  
  .red::after {
    -webkit-animation: red-pseudo linear 20s alternate infinite;
            animation: red-pseudo linear 20s alternate infinite;
    border: 2px solid #b62f56;
    width: 40px;
    height: 43px;
    transform: translate3d(17vw, 33vh, 0) rotate(296deg);
  }
  
  @-webkit-keyframes red {
    50% {
      transform: translate3d(12vw, 43vh, 0);
    }
    100% {
      transform: translate3d(35vw, 11vh, 0);
    }
  }
  
  @keyframes red {
    50% {
      transform: translate3d(12vw, 43vh, 0);
    }
    100% {
      transform: translate3d(35vw, 11vh, 0);
    }
  }
  @-webkit-keyframes red-pseudo {
    33% {
      transform: translate3d(87vw, 13vh, 0) rotate(312deg);
    }
    100% {
      transform: translate3d(16vw, 10vh, 0) rotate(202deg);
    }
  }
  @keyframes red-pseudo {
    33% {
      transform: translate3d(87vw, 13vh, 0) rotate(312deg);
    }
    100% {
      transform: translate3d(16vw, 10vh, 0) rotate(202deg);
    }
  }
  .orange {
    -webkit-animation: orange linear 30s alternate infinite;
            animation: orange linear 30s alternate infinite;
    border: 2px solid #d5764c;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    transform: translate3d(70vw, 20vh, 0);
    z-index: 11;
  }
  
  .orange::before {
    -webkit-animation: orange-pseudo linear 15s alternate infinite;
            animation: orange-pseudo linear 15s alternate infinite;
    background: #d5764c;
    border: 2px solid #d5764c;
    width: 31px;
    height: 46px;
    transform: translate3d(-24vw, 43vh, 0) rotate(105deg);
  }
  
  .orange::after {
    -webkit-animation: orange-pseudo linear 20s alternate infinite;
            animation: orange-pseudo linear 20s alternate infinite;
    border: 2px solid #d5764c;
    width: 16px;
    height: 34px;
    transform: translate3d(-49vw, -14vh, 0) rotate(252deg);
  }
  
  @-webkit-keyframes orange {
    50% {
      transform: translate3d(49vw, 31vh, 0);
    }
    100% {
      transform: translate3d(37vw, 6vh, 0);
    }
  }
  
  @keyframes orange {
    50% {
      transform: translate3d(49vw, 31vh, 0);
    }
    100% {
      transform: translate3d(37vw, 6vh, 0);
    }
  }
  @-webkit-keyframes orange-pseudo {
    33% {
      transform: translate3d(0vw, 15vh, 0) rotate(19deg);
    }
    100% {
      transform: translate3d(53vw, 9vh, 0) rotate(284deg);
    }
  }
  @keyframes orange-pseudo {
    33% {
      transform: translate3d(0vw, 15vh, 0) rotate(19deg);
    }
    100% {
      transform: translate3d(53vw, 9vh, 0) rotate(284deg);
    }
  }
  .yellow {
    -webkit-animation: yellow linear 30s alternate infinite;
            animation: yellow linear 30s alternate infinite;
    border: 2px solid #ffd53e;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    transform: translate3d(50vw, 67vh, 0);
    z-index: 6;
  }
  
  .yellow::before {
    -webkit-animation: yellow-pseudo linear 15s alternate infinite;
            animation: yellow-pseudo linear 15s alternate infinite;
    background: #ffd53e;
    border: 2px solid #ffd53e;
    width: 29px;
    height: 17px;
    transform: translate3d(-37vw, -62vh, 0) rotate(91deg);
  }
  
  .yellow::after {
    -webkit-animation: yellow-pseudo linear 20s alternate infinite;
            animation: yellow-pseudo linear 20s alternate infinite;
    border: 2px solid #ffd53e;
    width: 22px;
    height: 40px;
    transform: translate3d(-4vw, 24vh, 0) rotate(134deg);
  }
  
  @-webkit-keyframes yellow {
    50% {
      transform: translate3d(96vw, 15vh, 0);
    }
    100% {
      transform: translate3d(22vw, 54vh, 0);
    }
  }
  
  @keyframes yellow {
    50% {
      transform: translate3d(96vw, 15vh, 0);
    }
    100% {
      transform: translate3d(22vw, 54vh, 0);
    }
  }
  @-webkit-keyframes yellow-pseudo {
    33% {
      transform: translate3d(-8vw, 81vh, 0) rotate(74deg);
    }
    100% {
      transform: translate3d(-22vw, 40vh, 0) rotate(21deg);
    }
  }
  @keyframes yellow-pseudo {
    33% {
      transform: translate3d(-8vw, 81vh, 0) rotate(74deg);
    }
    100% {
      transform: translate3d(-22vw, 40vh, 0) rotate(21deg);
    }
  }
  .cyan {
    -webkit-animation: cyan linear 30s alternate infinite;
            animation: cyan linear 30s alternate infinite;
    border: 2px solid #78ffba;
    border-radius: 100%;
    width: 37px;
    height: 37px;
    transform: translate3d(2vw, 78vh, 0);
    z-index: 8;
  }
  
  .cyan::before {
    -webkit-animation: cyan-pseudo linear 15s alternate infinite;
            animation: cyan-pseudo linear 15s alternate infinite;
    background: #78ffba;
    border: 2px solid #78ffba;
    width: 19px;
    height: 49px;
    transform: translate3d(79vw, 5vh, 0) rotate(133deg);
  }
  
  .cyan::after {
    -webkit-animation: cyan-pseudo linear 20s alternate infinite;
            animation: cyan-pseudo linear 20s alternate infinite;
    border: 2px solid #78ffba;
    width: 16px;
    height: 24px;
    transform: translate3d(79vw, 0vh, 0) rotate(167deg);
  }
  
  @-webkit-keyframes cyan {
    50% {
      transform: translate3d(12vw, 60vh, 0);
    }
    100% {
      transform: translate3d(35vw, 79vh, 0);
    }
  }
  
  @keyframes cyan {
    50% {
      transform: translate3d(12vw, 60vh, 0);
    }
    100% {
      transform: translate3d(35vw, 79vh, 0);
    }
  }
  @-webkit-keyframes cyan-pseudo {
    33% {
      transform: translate3d(50vw, 10vh, 0) rotate(170deg);
    }
    100% {
      transform: translate3d(57vw, -19vh, 0) rotate(154deg);
    }
  }
  @keyframes cyan-pseudo {
    33% {
      transform: translate3d(50vw, 10vh, 0) rotate(170deg);
    }
    100% {
      transform: translate3d(57vw, -19vh, 0) rotate(154deg);
    }
  }
  .light-green {
    -webkit-animation: light-green linear 30s alternate infinite;
            animation: light-green linear 30s alternate infinite;
    border: 2px solid #98fd85;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    transform: translate3d(46vw, 46vh, 0);
    z-index: 2;
  }
  
  .light-green::before {
    -webkit-animation: light-green-pseudo linear 15s alternate infinite;
            animation: light-green-pseudo linear 15s alternate infinite;
    background: #98fd85;
    border: 2px solid #98fd85;
    width: 13px;
    height: 23px;
    transform: translate3d(41vw, 23vh, 0) rotate(82deg);
  }
  
  .light-green::after {
    -webkit-animation: light-green-pseudo linear 20s alternate infinite;
            animation: light-green-pseudo linear 20s alternate infinite;
    border: 2px solid #98fd85;
    width: 36px;
    height: 24px;
    transform: translate3d(-18vw, 34vh, 0) rotate(32deg);
  }
  
  @-webkit-keyframes light-green {
    50% {
      transform: translate3d(40vw, 83vh, 0);
    }
    100% {
      transform: translate3d(24vw, 89vh, 0);
    }
  }
  
  @keyframes light-green {
    50% {
      transform: translate3d(40vw, 83vh, 0);
    }
    100% {
      transform: translate3d(24vw, 89vh, 0);
    }
  }
  @-webkit-keyframes light-green-pseudo {
    33% {
      transform: translate3d(53vw, -82vh, 0) rotate(318deg);
    }
    100% {
      transform: translate3d(75vw, 7vh, 0) rotate(320deg);
    }
  }
  @keyframes light-green-pseudo {
    33% {
      transform: translate3d(53vw, -82vh, 0) rotate(318deg);
    }
    100% {
      transform: translate3d(75vw, 7vh, 0) rotate(320deg);
    }
  }
  .lime {
    -webkit-animation: lime linear 30s alternate infinite;
            animation: lime linear 30s alternate infinite;
    border: 2px solid #befb46;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    transform: translate3d(19vw, 21vh, 0);
    z-index: 3;
  }
  
  .lime::before {
    -webkit-animation: lime-pseudo linear 15s alternate infinite;
            animation: lime-pseudo linear 15s alternate infinite;
    background: #befb46;
    border: 2px solid #befb46;
    width: 40px;
    height: 9px;
    transform: translate3d(17vw, 32vh, 0) rotate(179deg);
  }
  
  .lime::after {
    -webkit-animation: lime-pseudo linear 20s alternate infinite;
            animation: lime-pseudo linear 20s alternate infinite;
    border: 2px solid #befb46;
    width: 22px;
    height: 14px;
    transform: translate3d(-15vw, 51vh, 0) rotate(53deg);
  }
  
  @-webkit-keyframes lime {
    50% {
      transform: translate3d(74vw, 95vh, 0);
    }
    100% {
      transform: translate3d(58vw, 25vh, 0);
    }
  }
  
  @keyframes lime {
    50% {
      transform: translate3d(74vw, 95vh, 0);
    }
    100% {
      transform: translate3d(58vw, 25vh, 0);
    }
  }
  @-webkit-keyframes lime-pseudo {
    33% {
      transform: translate3d(-54vw, -46vh, 0) rotate(113deg);
    }
    100% {
      transform: translate3d(-51vw, -4vh, 0) rotate(48deg);
    }
  }
  @keyframes lime-pseudo {
    33% {
      transform: translate3d(-54vw, -46vh, 0) rotate(113deg);
    }
    100% {
      transform: translate3d(-51vw, -4vh, 0) rotate(48deg);
    }
  }
  .magenta {
    -webkit-animation: magenta linear 30s alternate infinite;
            animation: magenta linear 30s alternate infinite;
    border: 2px solid #6c046c;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    transform: translate3d(42vw, 28vh, 0);
    z-index: 8;
  }
  
  .magenta::before {
    -webkit-animation: magenta-pseudo linear 15s alternate infinite;
            animation: magenta-pseudo linear 15s alternate infinite;
    background: #6c046c;
    border: 2px solid #6c046c;
    width: 33px;
    height: 43px;
    transform: translate3d(25vw, 8vh, 0) rotate(194deg);
  }
  
  .magenta::after {
    -webkit-animation: magenta-pseudo linear 20s alternate infinite;
            animation: magenta-pseudo linear 20s alternate infinite;
    border: 2px solid #6c046c;
    width: 33px;
    height: 11px;
    transform: translate3d(-29vw, -25vh, 0) rotate(323deg);
  }
  
  @-webkit-keyframes magenta {
    50% {
      transform: translate3d(61vw, 35vh, 0);
    }
    100% {
      transform: translate3d(26vw, 38vh, 0);
    }
  }
  
  @keyframes magenta {
    50% {
      transform: translate3d(61vw, 35vh, 0);
    }
    100% {
      transform: translate3d(26vw, 38vh, 0);
    }
  }
  @-webkit-keyframes magenta-pseudo {
    33% {
      transform: translate3d(10vw, 16vh, 0) rotate(24deg);
    }
    100% {
      transform: translate3d(49vw, -37vh, 0) rotate(265deg);
    }
  }
  @keyframes magenta-pseudo {
    33% {
      transform: translate3d(10vw, 16vh, 0) rotate(24deg);
    }
    100% {
      transform: translate3d(49vw, -37vh, 0) rotate(265deg);
    }
  }
  .lightish-red {
    -webkit-animation: lightish-red linear 30s alternate infinite;
            animation: lightish-red linear 30s alternate infinite;
    border: 2px solid #f04c81;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    transform: translate3d(30vw, 64vh, 0);
    z-index: 2;
  }
  
  .lightish-red::before {
    -webkit-animation: lightish-red-pseudo linear 15s alternate infinite;
            animation: lightish-red-pseudo linear 15s alternate infinite;
    background: #f04c81;
    border: 2px solid #f04c81;
    width: 36px;
    height: 23px;
    transform: translate3d(61vw, -6vh, 0) rotate(323deg);
  }
  
  .lightish-red::after {
    -webkit-animation: lightish-red-pseudo linear 20s alternate infinite;
            animation: lightish-red-pseudo linear 20s alternate infinite;
    border: 2px solid #f04c81;
    width: 42px;
    height: 29px;
    transform: translate3d(52vw, -5vh, 0) rotate(89deg);
  }
  
  @-webkit-keyframes lightish-red {
    50% {
      transform: translate3d(77vw, 70vh, 0);
    }
    100% {
      transform: translate3d(92vw, 1vh, 0);
    }
  }
  
  @keyframes lightish-red {
    50% {
      transform: translate3d(77vw, 70vh, 0);
    }
    100% {
      transform: translate3d(92vw, 1vh, 0);
    }
  }
  @-webkit-keyframes lightish-red-pseudo {
    33% {
      transform: translate3d(-49vw, -46vh, 0) rotate(141deg);
    }
    100% {
      transform: translate3d(-87vw, 81vh, 0) rotate(13deg);
    }
  }
  @keyframes lightish-red-pseudo {
    33% {
      transform: translate3d(-49vw, -46vh, 0) rotate(141deg);
    }
    100% {
      transform: translate3d(-87vw, 81vh, 0) rotate(13deg);
    }
  }
  .pink {
    -webkit-animation: pink linear 30s alternate infinite;
            animation: pink linear 30s alternate infinite;
    border: 2px solid #ff4293;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    transform: translate3d(22vw, 88vh, 0);
    z-index: 10;
  }
  
  .pink::before {
    -webkit-animation: pink-pseudo linear 15s alternate infinite;
            animation: pink-pseudo linear 15s alternate infinite;
    background: #ff4293;
    border: 2px solid #ff4293;
    width: 25px;
    height: 11px;
    transform: translate3d(-19vw, -59vh, 0) rotate(159deg);
  }
  
  .pink::after {
    -webkit-animation: pink-pseudo linear 20s alternate infinite;
            animation: pink-pseudo linear 20s alternate infinite;
    border: 2px solid #ff4293;
    width: 34px;
    height: 48px;
    transform: translate3d(-18vw, -8vh, 0) rotate(222deg);
  }
  
  @-webkit-keyframes pink {
    50% {
      transform: translate3d(40vw, 92vh, 0);
    }
    100% {
      transform: translate3d(76vw, 31vh, 0);
    }
  }
  
  @keyframes pink {
    50% {
      transform: translate3d(40vw, 92vh, 0);
    }
    100% {
      transform: translate3d(76vw, 31vh, 0);
    }
  }
  @-webkit-keyframes pink-pseudo {
    33% {
      transform: translate3d(22vw, -50vh, 0) rotate(58deg);
    }
    100% {
      transform: translate3d(6vw, 41vh, 0) rotate(320deg);
    }
  }
  @keyframes pink-pseudo {
    33% {
      transform: translate3d(22vw, -50vh, 0) rotate(58deg);
    }
    100% {
      transform: translate3d(6vw, 41vh, 0) rotate(320deg);
    }
  }